@import 'variables';

h2 {
  margin: 0px;
  text-transform: uppercase;
}

h6 {
  margin: 0px;
  color: #777;
}

.wrapper {
  text-align: center;
  margin: 50px auto;
}

.tabs {
  margin-top: 50px;
  font-size: 15px;
  padding: 0px;
  list-style: none;
  background: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  border-radius: 50px;
  position: relative;
}

.tabs a {
  text-decoration: none;
  color: #777;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition-duration: 0.6s;
  width: 80px;
  cursor: pointer;
}

.tabs a.active {
  color: #fff;
  height: 100%;
  display: inline-block;
  border-radius: 50px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: $button-bg;
  background: -moz-linear-gradient(45deg, $button-bg 0%, #7dd5c9 100%);
  background: -webkit-linear-gradient(45deg, $button-bg 0%, #7dd5c9 100%);
  background: linear-gradient(45deg, $button-bg 0%, #7dd5c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c8b3', endColorstr='#7dd5c9', GradientType=1);
}

.tabs a i {
  margin-right: 5px;
}